<link rel="stylesheet" href="/css/chatbox.css">

<% if(locals.user) { %>
    <div id="chatbox-container" action="" method="post">
        <div class="message">
            <p class="user-1">hi</p>
            <p class="user-2">hello</p>
        </div>
        <div class="input">
            <input id="message-box" type="text" placeholder="Type message here">
            <button class="send-button">send</button>
        </div>

    </div>
    <% } %>