<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <section id="post-container">
        <% if(locals.user) { %>
            <form action="/post/create-post" id="feed-posts" method="post">
                <h4>Posts</h4>
                <textarea name="content" cols="30" rows="3" placeholder="What for today?"></textarea>
                <input type="submit" value="post">
            </form>
            <% } %>
                <div class="post-list-container">
                    <h2>Post</h2>
                    <ul>
                        <% for(post of posts) { %>
                            <%- include('_post') -%>
                                <% } %>
                    </ul>
                </div>
    </section>
    <section id="friends-list">
        <h3 class="friends">Friends</h3>
        <% for(u of all_user) { %>
            <p>
                <a href="/user/profile/<%= u.id %>">
                    <%= u.name %>
                </a>
            </p>
            <% } %>
    </section>
</div>
<script src="/js/postDom.js"></script>
<script src="/js/likes.js"></script>
<script src="/js/post_comments.js"></script>
<script src="/js/home_posts.js"></script>